.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  margin-bottom: 200px;
margin-right:90px;
padding: 8px;
   
}

.right{
    display: flex;
    justify-content: space-between;
    width: 869.14px;
    height: 251px;
    background-color: #28A745;
    border-radius: 10px;
    z-index: 10;
}
.right h3{
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
  margin-right: 60px;
  margin-top:30px;
  padding-bottom: 25px;
}
.right h3 span {
    color:#10411B;
}

.right p {

    font-size: 32px;
    font-weight: 400;
    color: #ffffff;
    padding-right: 60px;
 
}
.left {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
    background-color: #ffffff;
     width: 318.86px;
     height: 251px;
     border: 1px solid #00000040;
     border-radius: 10px 0 0 10px;
     border-right: none;
}
.left p {
    font-size: 28px;
    font-weight: 700;
    color: #000000;

}
.left button {
    width: 175px;
    /* height: 41px; */
    padding: 8px;
    border-radius: 9px;
    background-color: #10411B;
    color: #FFFFFF;
    margin-top: 25px;
}
.image{
margin-left: 50px;
margin-top:25px;
}