.container{
    width: 218px;
    height: 251px;
    border-radius: 8px;
    border: 1px solid#00000026;
    background-color: #ffffff;
    position: relative;
    top: 170px;
    left:60px;
}
.title {
  border-radius: 8px 8px 0px 0;
    padding: 5px;
    border-bottom: 1px solid #00000026;
    background-color: #F8F8F8;
}
 .container option {
    padding: 20px;
  border-bottom: 1px solid #00000026;
 }